<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tatsu.things.button">

    <application>
        <uses-library android:name="com.google.android.things" />

        <service
            android:name="com.tatsu.things.button.ButtonDriverService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>